---
apiVersion: yakup.ibidem.no/v1
kind: Application
metadata:
  name: quotes
  namespace: default
  labels:
    app: quotes
spec:
  image: "{{ environ('IMAGE') }}:{{ environ('VERSION') }}"
  ports:
    http:
      port: 3000
      ingress:
        - zone: public
  probes:
    liveness:
      http:
        initialDelaySeconds: 100
        portName: http
        path: /_/healthy
    readiness:
      http:
        initialDelaySeconds: 100
        portName: http
        path: /_/ready
  envFrom:
    - configmap: quotes-config
