{% extends "base.html.j2" %}

{% block content %}
    <main class="text-center text-lg-start bg-body">
        <div class="container py-4">
            <h1 class="mb-3">Quotes</h1>
            <figure>
                <blockquote class="blockquote">
                    <p>{{ data.quote }}</p>
                </blockquote>
                {% if data.dedication %}
                <figcaption class="blockquote-footer">
                    {{ data.dedication }}
                </figcaption>
                {% endif %}
            </figure>
        </div>
    </main>
{% endblock %}
